
body{
  padding-top: 3rem;
}
.icon-bg{
  padding: 5px;
}
.accord:hover .icon-bg{
  background-color: #ff822e;
  border-radius: 50%;
}
.accord{
  padding: 10px 20px;
  background-color: white;
  width: 700px;
}
.plus-icon{
  color: lightgrey;
  font-size: 1.5em;
}
.plus-icon-active{
  color: lightgrey;
  font-size: 1.5em;
  transform: rotate(45deg);
}


.cross-icon{
  color: lightgrey;
  font-size: 1.5em;
}

.accordion-cont{
  background-color: #f0f0f0;
  padding:0 30px;
}
.accordion-content{
  width: 700px;
  padding: 10px 20px;
  background-color: white;
}
.wrapper{
  border: #f0f0f0 1px solid;
}

.image-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.add-img-btn{
  margin-top: 20px;
  width: 120px;
  height: 100px;
  border: 2px solid #256799;
  border-radius: 5px;
  border-style: dashed;
}
.add-img-btn:hover{
  border-style: solid;
}
/*style={{marginTop: '20px', width: '120px', height: '100px', border: "2px solid #256799", borderRadius: "5px", borderStyle: "dashed"}}*/